<h2>Búsquedas</h2>
<hr />
<ul class="list-group">
    <li
        class="list-group-item"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Buscar País
    </li>
    <li class="list-group-item" routerLink="region" routerLinkActive="active">
        Por Región
    </li>
    <li class="list-group-item" routerLink="capital" routerLinkActive="active">
        Por Capital
    </li>
</ul>

<div class="fixed-bottom mx-2 opacity-25">
    <p class="fs-6 fw-bold text-primary">Developed by Pedro</p>
</div>
